<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="np.com.aasutosh.bloodbankandroid">

    <application
        android:allowBackup="true"
        android:icon="@drawable/blood"
        android:label="@string/app_name"
        android:roundIcon="@drawable/blood"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".RequestBloodActivity" />
        <activity android:name=".DonateBloodActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".FireBaseUIActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>